

biological control
--
- உயிரியல் கட்டுப்பாடு
-  தீங்கிழைக்கும் நுண்மங்களின் எதிர் நுண்மங்களைப் பெருக்குவதன் மூலம் இயற்கைக் கோளாறுகளைக் கட்டுப்படுத்தும்முறை. (எ-டு) களைகளைக் கட்டுப்படுத்த பூச்சிகளைப் பயன்படுத்துதல்.

birth control
--
- கருத்தடை
-  பேற்றுக் கட்டுப்பாடு.